.frame {
    height: auto;
    position: absolute;
    width: 100%;
    z-index: 100;
    top: 0;
    background-color: dodgerblue;
}

.item {
    margin: 5px;
    height: auto;
    background-color: white;
    font-size: 40px;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

.brown {
    color: brown;
}

.purple {
    color: purple;
}
